---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <h1>ูุฑุญุจุงู ุจูู ูู ูุฏููุชู ๐ฅ</h1>
  <p>ููุง ุฃุดุงุฑู ููุงูุงุชู ูุชุฌุฑุจุชู ุงูุชูููุฉ ุจุงุณุชุฎุฏุงู Astro ู Netlify.</p>
</Layout>
